/* Global Styling for Login Component */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --highlight-color: #ff6347;
}

/* Main Heading Style */
.login-heading {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--dark-color);
  font-weight: 700;
  position: relative;
}

.login-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: var(--btn-color);
}

/* Login Section */
.login-section {
  padding: 4rem 2rem;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure section takes full screen height */
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
}

.login-image {
  width: 100%;
  max-width: 400px;
}

.login-img {
  width: 100%;
  height: auto;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px var(--shadow-color);
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.1rem;
  color: var(--dark-color);
  margin-bottom: 8px;
  display: block;
}

.input-field {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--dark-color);
}

.input-field:focus {
  border-color: var(--btn-color);
  outline: none;
}

.form-btn .btn-submit {
  width: 100%;
  padding: 1rem;
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.form-btn .btn-submit:hover {
  background-color: var(--highlight-color);
}

/* Media Queries for Responsive Design */
@media (max-width: 998px) {
  .login-container {
    flex-direction: column;
    gap: 2rem;
  }

  .login-image {
    width: 70%;
  }

  .login-form {
    width: 80%; /* Make the form responsive */
    max-width: 280px; /* Allow it to grow on smaller screens */
  }

  .btn-submit {
    padding: 0.8rem; /* Adjust button padding */
  }
}

@media (max-width: 798px) {
  html {
    font-size: 56.25%;
  }

  .login-container {
    gap: 1rem; /* Reduce the gap between image and form */
  }

  .login-form {
    width: 100%; /* Make the form take full width */
  }

  .login-image {
    width: 70%;
    margin-bottom: 20px;
  }

  .btn-submit {
    font-size: 1rem; /* Adjust button font size */
    padding: 1rem; /* Adjust padding */
  }
}
